

textarea{
    font-family: sans-serif,'Courier New', Courier, monospace;
    font-size:medium;
} 
button[name=submit]{
    padding-left:30%;
    padding-right:30%;
    margin-left:10%;
}
a#edit{
    margin-top: 10%;
    display: flex;
    float: right;
    margin-right:10px;

}