{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Not found</title>
    <link rel="stylesheet" href="{% static 'encyclopedia/bootstrap.min.css' %}">
</head>
<body  >
    <div class="alert alert-danger" role="alert">
    <h4>"{{ title }}" was not found in our database maybe you misspelled the entry</h4>
    <p>list of available entries that matches suggestion include</p>
    <ul>
    {% for option in options %}
     <li>{{option}}</li>
     {% endfor %}
    </ul>
</div>
</body>
</html>