{% extends "encyclopedia/layout.html" %} 
{% load static %}
    {% block title %} 
        Encyclopedia 
    {%endblock %} 
   
{% block body %}
<h1>
   {{purpose}} your page using markdown
</h1>
<form action="{%url 'encyclopedia:save_and_view' %}" method="POST">
    {% csrf_token %}
    <div class="breadcrumb content">
        <div class="breadcrumb content">
            <label for="TITLE">Title:</label>
            <input id="TITLE" name='title' type='text' value="{{title}}" />
        </div>
    </div>
    <div class="breadcrumb content">
        <b class="breadcrumb-item badge-info">Optional :: </b>
        <textarea
            class="breadcrumb-item"
            name="summary"
            rows="2"
            cols="50"
            style="max-width:100%; max-height:100px"
            placeholder="Give a summary of this page"
        ></textarea>
    </div>
    <div class="breadcrumb content">
        <b class="breadcrumb-item badge-info">Your Entry::</b>
        <textarea
            class="breadcrumb-item"
            name="content"
            rows="5"
            cols="400"
            style="max-width:100%;"
            placeholder="Create your page with easy markdown language and it will be converted for you "
        >{{initial_content}}</textarea>
        
        <button class="btn btn-outline-info" name="submit" action="submit">
            Save and View Page
        </button><br/>
        <p>For tutorial on how to use this tool see <a href="#">wiki/tutorials</a><p>
    </div>
</form>
<script>
    // document.getElementById('TITLE').value = "{{title}}"
</script>
{% endblock %}